#background.tex#
	.Rhistory	
	Rebar-LOOP.gdoc
	background.aux
	background.log
	background.tex
	background.tex.aux
	background.tex~
	background2.aux
	background2.log
	background2.tex~
	backgroundSectionJGBcomments10-30.pdf
	johann adam coordination.gdoc
	loopOLSresults.RData
	paperShell.aux
	paperShell.bbl
	paperShell.blg
	paperShell.log
	paperShell.pdf
	paperShell.synctex.gz
	paperShell.tex~
	papers/
	percentImprovement.jpeg
	rebarVSreg.pdf
	rebarloop.bib~
	results/
	row14results.jpeg
	sree19/
updated_exp_predictions.csv
	
